/* Designed for "DOCTYPE HTML" */
/* HEADER & FOOTER do not work in IE8 and older */

html, body, div, p, pre,
h1, h2, h3, h4, h5, h6,
ul, ol, li,
table, thead, tbody, tfoot, td, tr, th,
form, fieldset,
img, blockquote, iframe,
nav, header, footer, section, article, aside
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
    border-spacing: 0 0;
    vertical-align: top;
    font-size: 0;
    font-family: verdana, helvetica, sans-serif;
    box-sizing: border-box;
    white-space: normal;
    text-align: justify;
}

body
{
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    min-height: 200px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: black;
}

span, p, article, form,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
th, td
{
    font-size: 14px;
    text-align: left;
    color: lightcyan;
}

a, em, strong
{
    font-size: inherit;
    text-align: inherit;
}

a
{ 
    text-indent: inherit;
    color: bisque;
}

    a:link
    {
        /* reserved */
    }
	
    a:visited
    {
        /* reserved */
    }
	
    a:hover
    {
        text-decoration: none;
    }
	
    a:active
    {
        text-decoration: none;
    }

/* === Paragraphs === */

p, article
{
    padding-left: 4px;
    text-indent: 0;
}

h1, h2, h3, h4, h5, h6
{
    line-height: 150%;
    padding-top: 0;
    padding-bottom: 0;
}

h1 { color: white; font-size: 20px; padding-left: 10%; }
h2 { color: aliceblue; font-size: 19px; padding-left: 8%; }
h3 { color: paleturquoise; font-size: 18px; padding-left: 6%; }
h4 { color: turquoise; font-size: 17px; padding-left: 4%; }
h5 { color: darkturquoise; font-size: 16px; padding-left: 2%; }
h6 { color: inherit; font-size: 15px; padding-left: 0; }

/* === Lists === */

ul, ol
{
    padding-left: 5ex;
}

li
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    text-align: justify;
}

/* === Tables === */

table, tr, th, td
{
    border-color: royalblue;
    border-width: 1px;
    border-style: none;
}

table
{
    border-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
}

tr
{
    border-style: none none solid none;
}

tr:first-child
{
    border-style: solid none solid none;
}

th, td
{ 
    padding: 3px 6px 3px 6px;
    border-style: inherit;
    border-right-style: solid;
    vertical-align: middle;
}

    th:first-child, td:first-child
    {
        border-style: inherit;
        border-right-style: solid;
        border-left-style: solid;
    }

th
{
    text-align: center;
}

tbody th
{
    text-align: right;
}

tr:nth-child(even)
{
    background-color: #002a4c;
}

tr:nth-child(odd)
{
    background-color: #001c33;
}

thead tr:first-child
{
    background-color: #001c33;
}

table.no-border, table.no-border tr, table.no-border th, table.no-border td
{
    border-style: none;
    border-width: 0px;
}

/* === Formatting === */

.indent
{
    text-indent: 4ex;
}

.full-width
{
    width: 100%
}

.strong
{
    font-weight: bold;
}

.pad-bottom
{
    padding-bottom: 6px;
}

.pad-top
{
    padding-top: 6px;
}

.pad-box
{
    display: inline-block;
    padding: 3px 6px 3px 6px
}

.box
{
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;	
}

.border-top
{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: royalblue;
}

.border-bottom
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: royalblue;
}

/* === Highlights === */

.info
{
    color: lime;
} 

.warn
{
    color: yellow;
} 

.danger
{
    color: orangered;
} 

p.info, p.warn, p.danger
{
    border-left-style: solid;
    border-left-width: 2px;
    padding-left: 2px;
}

.info-bg
{
    background-color: green;
} 

.warn-bg
{
    background-color: saddlebrown;
} 

.danger-bg
{
    background-color: darkred;
} 

/* === Form === */

input[type="text"], input[type="checkbox"], input[type="password"], select, textarea
{
    border: solid 1px royalblue;
    background-color: black;
    color: inherit;
    font-family: verdana, helvetica, sans-serif;
    font-size: 14px;
}

textarea
{
    font-family: monospace;
    font-size: 16px;
}

input[type="submit"]
{
    font-family: verdana, helvetica, sans-serif;
    font-size: 14px;
}

/* === Menu === */

nav.menu ul
{
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
    background-color: steelblue;
}

    nav.menu ul li
    {
        display: inline-block;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border-top: solid 2px steelblue;
        background-color: inherit;
    }
	
        nav.menu ul li a
        {
            display: block;
            padding: 3px 9px 6px 9px;
        }
		
            nav.menu ul li a:hover
            {
                background-color: deepskyblue;
            }
			
                nav.menu ul li a.active, nav.menu ul li a.active:hover
                {
                    color: inherit;
                    text-decoration: none;
                }