/*
    Created on : 02.03.2011, 21:20:50
    Author     : vozdvin
*/

/* Неотображаемые фрагметы, например коды счетчиков */
div.hidden { display: none }

/* Картинка-ссылка, вокруг которой не нужна разметка ссылки */
a.banner, a:link.banner, a:visited.banner, a:hover.banner, a:active.banner { 
  border: none; 
  margin: 0 0 0 0; 
  padding: 0 0 0 0; 
  text-decoration: none
}

/* Комментарии на страницах */
div.comment, p.comment { font-style: italic; font-size: small }

/* Форматирование строки с заголовком */
/*
В этом разделе нельзя использовать width и max-width,
так как они рассчитываются при создании страницы.
*/
div.namedLineBox {
  padding: 2px 0 2px 0;
  text-align: left;
}
div.namedLineName, div.namedLineValue
{
  display: inline-block;
  vertical-align: top;
}
div.namedLineName  { text-align: right; color: LightSkyBlue }
div.namedLineValue { padding-left: 0.5ex; text-align: left; }

/* Форматирование "хлебных крошек" */
div.breadcombs {
  border: Solid RoyalBlue;
  padding-bottom: 2px;
  border-top: none;
  border-right: none;
  border-left-width: 3px;
  border-bottom: none;
}
div.breadcomb {
  display: inline-block;
  margin-left: 3px; 
  padding: 0 3px 1px 0;
  border: Solid RoyalBlue;
  border-right-width: 1px;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

/* Горизонтальная линия над блоком */
div.hr { border-top: Solid 1px RoyalBlue; margin: 6px 0 0 0 }

/* Заголовок с возможностью дописывания */
div.h3inline { border-top: Solid 1px RoyalBlue; margin: 6px 0 0 0 }
h3.inline { display: inline; margin: 0 0 0 0; border: none}

/* Cтолбцы данных */
div.columnName, div.columnValue {
  display: inline-block;
  margin-top: 1px;
  border-bottom: Solid 1px MediumBlue;
  padding-bottom: 2px
}
div.columnName  {
  vertical-align: bottom;
  font-weight: bold;
  text-align: center }
div.columnValue { /* reserved */ }

/* Главное меню */
div.menu { background-color: SteelBlue; text-align: left }
div.menu ul { padding: 3px 0 6px 0.75ex; list-style: none; vertical-align: middle }
div.menu ul li { font-weight: bold; display: inline-block; vertical-align: middle; padding-left: 6px;}
div.menu ul li a,
div.menu ul li a:visited { color: GhostWhite; text-decoration: none; border-bottom: Solid GhostWhite 1px }
div.menu ul li a:hover,
div.menu ul li a:active  { color: White; background-color: DeepSkyBlue; border-bottom: none }

/* Табличное оформление */
th.bottomWeakBorder,
td.bottomWeakBorder { vertical-align: top; border-bottom: Solid 1px Navy }

/* Страничный интерфейс на таблицах, устаревает */
table.tabControl { width: 100%; border: none; margin-top: 0.25em }
table.tabControl th.tabTitle {
  border: none;
  border-bottom: Solid 1px RoyalBlue;
  padding-bottom: 2px; }
table.tabControl th.tabTitleActive {
  background-color: #091936;
  border: Solid 1px RoyalBlue;
  border-top-width: 2px;
  border-bottom: none }
table.tabControl td.tabSheet {
  padding: 4px 4px 4px 4px;
  background: Black url(/images/bg_main.png) 0 0 repeat-x;
  border: Solid 1px RoyalBlue; border-top: none
}

/* Страничный интерфейс, новый */
div.tabHeaderBox { display: inline-block; width: 25%; }
div.tabHeader {
  border: none;
  border-bottom: Solid 1px RoyalBlue;
  text-align: center;
  padding-bottom: 3px;
} 
div.tabHeader a:hover {
  display: inline-block;
  width: 99%;
  border: Solid 1px RoyalBlue;
  border-top-width: 3px;
  border-bottom: none;
} 
div.tabHeaderActive {
  background-color: #091936;
  border: Solid 1px RoyalBlue;
  border-top-width: 3px;
  text-align: center;
  padding-bottom: 3px;
} 
div.tabSheet {
  background: Black url(/images/bg_main.png) 0 0 repeat-x;
  border: Solid 1px RoyalBlue;
  border-top: none;
  padding: 3px 1ex 0.5em 1ex; 
}

